.registerStyling{
    /*  width: 60%;*/
    border: 2px solid;
    border-radius: 15px;
    border-color: darkgreen;
    text-align: center;
    margin: 10%;
    padding: 2%
}
@media  all and (min-width: 960px){
    .registerStyling{
        margin:0 25% 0 25%
    }
}
@media  all and (max-width: 400px){
    .registerStyling{
        margin:25% 0 0 0;
    }
}

#root{
    /*margin:14%;*/
    justify-content: center;
    height: 100vh;
    max-height: 100vh;
    overflow:scroll;
}

.registration_link {
    text-decoration: none;
}

