.registerStyling{
    /*  width: 60%;*/
    padding: 20px;
    margin: 20px;
    border: 2px solid;
    border-radius: 15px;
    border-color: darkgreen;
    height: 50%;
    text-align: center;
    margin: auto;
    width: 60%;
    flex-flow: row wrap;
}


@media (max-width: 750px) {
    .registerStyling {
        grid-template-columns: 225px auto;
        grid-template-rows: auto auto auto;
    }
}

