
.Allplayers{
    text-align: center;
    float: right;
}

.goalkeeper{
    margin:10px;
    padding: 50px;
    position: relative;
}

.defence{
    margin:10px;
    padding: 50px;
    position: relative;
}

.midfield{
    margin:10px;
    padding: 50px;
    position: relative;
}
.playerprofilsytling{
    padding: 0;
    margin: 28%;
    flex-flow: row wrap;
}


.storm{
    margin:10px;
    padding: 50px;
    position: relative;
}

a p{
    color: #282c34;
}
.changeplayerposition{
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.changeplayerpositionStyling{
    border: 2px solid;
    border-radius: 15px;
    border-color: darkgreen;
    text-align: center;
    margin: 23%;
    padding: 2%
}

.dataprofissytling{
    cursor: pointer;
    color: white;
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
