*{
  margin:0;
  padding:0;
  font-family:'kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}


.App {
  min-height: 100vh;
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
}
input:invalid { border-color: red; }


.Logstyle {
  padding: 20px;
  margin: 20px;
  border: 2px solid;
  border-radius: 15px;
  box-shadow: 10px 10px 5px green;
  border-color: forestgreen;
  height: 50%;
  width: 50%;
  display: inline-block
}

.logTitle{
  font-family: serif;
}

#forgotPassword{
  font-family: serif;
  float: right;
}

label{
  float: left;
}
.mb-3{
  font-family: serif;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
@media all and (max-width: 2560px) {
  .myApp {
    min-height: 100vh;
    padding: 7%;
    font-family: sans-serif;
  }
}*/

.search-container button {
  float: right;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.hearderlogout{
  float: right;
}

.heardersearch{
  font-family: sans-serif;
}
.row-padding {
  margin-top: 25px;
  margin-bottom: 25px;
}

.hearderAddTraningsplan{
  float:right;
  margin: 0%;
  padding: 0%;
  position: fixed;
  width: 4%;
  right: 11%;
}


@media (max-width: 750px) {

  .hearderAddTraningsplan{
    float:right;
    margin: 0%;
    padding: 0%;
    position: fixed;
    width: 9%;
    right: 20%;
  }
}

.logo{
  color:orange;
  float: left;
  font-style: italic;
}

.containerImageAccount img{
  height: 50px;
  width: 50px;
}
/*AddTrainingsCss------------------------------------------------------------------*/

.addTraininingsplan{
/*  width: 60%;*/
  padding: 20px;
  margin: 20px;
  border: 2px solid;
  border-radius: 15px;
  border-color: darkgreen;
  height: 50%;
  text-align: center;
  margin: auto;
  width: 60%;
  flex-flow: row wrap;
}

@media (max-width: 750px) {
  .addTraininingsplan {
    grid-template-columns: 225px auto;
    grid-template-rows: auto auto auto;
  }
}
.createTraining{
  font-family: serif;
}

.stylingDasboarddaten{
  font-family: serif;
  text-align: center
}
.stylingDasboarddaten p h6{
  font-family: "Arial Black";
}

.panels > div {
  border: 2px solid;
  border-radius: 15px;
  border-color: darkgreen;
  text-align:justify;
  float: left;
  background-color: azure;
  position: relative;
  display: flex;
  padding: 0;
  margin: 10% 1%;
  flex-flow: row wrap;
}


/*@media only screen and (min-width: 300px) {
  .panels > div  {    border: 2px solid;
    border-radius: 15px;
    border-color: darkgreen;
    height: 20%;
    text-align: justify;
    width: 101%;
    float: left;
    background-color: azure;
    position: relative;
    display: flex;
    padding: 20px;
    margin: 10px;
    flex-flow: row wrap;
  }
}*/

textarea{
  height: 200px;
  width: 200px;
}

.stylingDasboardList{
  width: 200px;
  height: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center
}
.navbar{
  position: sticky;
  top: 0;
}

/*Players.css-----------------------------------------------------------------------------------------------*/
.Allplayers{
  position: relative;
  padding: 10px;
  margin: 196px;
  display: flex;
  flex-flow: row wrap;
}

/*playerprofilsytling------------------------------------------------------------------------------------------*/

.ononastyling{
  width: 400px;
  height: 400px;
}

.profisstatistikstyling{
  /*float: right;*/
}
.profisstatistikstyling-left{
  float: left;
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  background-color:black;
  color: white;
  font-family: Serif;
}

/*userprofilstyling--------------------------------------------------------------------------------------------*/

.userprofilstyling{
  width: 100px;
  height: 80px;
  margin: 1%;
  padding: 1%;
  text-align: center;
  border-color: forestgreen;
  flex-flow: row wrap;
}

.app-main{
  height: 100%;
}


